* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#errorMessage {
  margin: 20px;
  color: #dc3545;
}

h1 {
  font-size: 52px;
  margin: 30px;
  text-decoration: line-through;
}

.container {
  padding: 50px 300px;
  height: 100vh;
}

button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.sortDateBtn,
.sortNameBtn {
  border: 1px solid black;
  background-color: white;
}

.clearAllBtn {
  background-color: black;
  color: white;
}

.clearAllBtn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.sortDateBtn:hover,
.sortNameBtn:hover {
  background-color: black;
  color: white;
}

.sortDateBtn,
.sortNameBtn {
  margin-right: 10px;
}

.addTaskBtn {
  background-color: #04aa6d;
  color: white;
  margin: 0 10px;
}

.addTaskBtn:hover {
  background-color: #056c3d;
}

.doneToggleBtn {
  background-color: #808080;
  color: white;
  margin: 0 10px;
}

.doneToggleBtn:hover {
  background-color: #404040;
}

.editTaskBtn {
  background-color: #ca9d19;
  color: white;
  margin-right: 10px;
}

.editTaskBtn:hover {
  background-color: #9b7c15;
}

.deleteTaskBtn {
  background-color: #dc3545;
  color: white;
}

.deleteTaskBtn:hover {
  background-color: #a93038;
}

.addTaskBtn:active,
.editTaskBtn:active,
.deleteTaskBtn:active,
.doneToggleBtn:active,
.sortDateBtn:active,
.sortNameBtn:active,
.clearAllBtn:active {
  transform: scale(0.95);
}

#taskInput {
  font-size: 16px;
  padding: 15px 32px;
  border: 1px solid black;
}

#dueDateInput {
  font-size: 16px;
  padding: 13px 32px;
  border: 1px solid black;
  margin-left: 10px;
}

.addTask {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 400px;
}

.viewTask {
  min-width: 400px;
}

#taskList {
  list-style: none;
}

.viewTask ul li {
  margin-bottom: 10px;
}

.taskItem {
  font-size: 16px;
  padding: 15px 32px;
  border: 0.5px solid black;
  flex-grow: 2;
  cursor: pointer;
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
}

hr {
  border: 0;
  clear: both;
  display: block;
  background-color: black;
  height: 0.5px;
  margin: 50px auto;
}

.done {
  text-decoration: line-through;
}

.taskItem[disabled] {
  pointer-events: none;
}

.pinCheckbox {
  margin-left: 10px;
}
.pinned {
  color: #ca9d19;
}

.bottomContainer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 20px;
  text-align: center;
  width: 200px;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 0 10px;
}

.complete {
  color: #04aa6d;
}

.incomplete {
  color: #dc3545;
}

.sortMenu {
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .container {
    padding: 50px 30px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* For tablets: */
  .container {
    padding: 50px 50px;
  }
}
